:root { 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9ea8ba; 
--blue_A700:#0a58ff; 
--orange_A700:#ff6700; 
--gray_900:#11142d; 
--blue_A700_01:#0061ff; 
--green_600:#349765; 
--gray_300:#d2efe0; 
--gray_50:#f4f8ff; 
--blue_50:#e0ebff; 
--blue_A700_02:#0065ff; 
--red_100:#ffe1cc; 
--black_900:#000000; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
}